/* .container {
    margin: 20px 20px 0 0;  
    overflow: auto;
      
} */
#container {
    background: lightblue;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    border: 0px solid white;
}

h1 {
    text-align: center;
    color: black;
    padding-bottom: 0px;
}
h2 {
    color: black;
    padding-top: 0px;
}
h3 {
    padding-right: 0px;
    color: black;
    padding-bottom: 0px;
}
.list{
    /* padding-left: 10;
    margin-left: 10; */
    padding-bottom: 0px;
    float: left;
    
}
.post {
    float: left;
}
.post img {
    display: block;
    max-width:350px;
    height:350px;
    padding: 20px;
}
body {
    background-color: lightskyblue;
}

.highlight {
    color: royalblue;
    }

 
